<!DOCTYPE html>
<body>
    <header>
        <nav>
            <h1>Sake House Miro</h1>
            {{!-- <img src="" alt=""> --}}
            <ul>
                <a href="">Menus</a>
                <a href="">Our Story</a>
                <a href="">Hours & Reservations</a>
            </ul>   
        </nav>
        <link rel="stylesheet" href="/home.css">
    </header>
    <main>
        <section class="intro-container">
            <div class="special-container">
                <h2>Weekly Special Placeholder</h2>
            </div>
            <div class="intro-menu-container">
                <div class="top-row">
                    <div class="left">
                        <div>
                            <a href="">
                                <ul>
                                    <li class="cursive med-text">late night</li>
                                    <li class="thin-block large-text">Specials</li>
                                </ul>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <ul>
                                    <li class="thin-block large-text">Beer</li>
                                    <li class="cursive med-text">Sake</li>
                                    
                                </ul>
                            </a>
                        </div>
                    </div>
                    <div class="center">
                        <a href="">Breakfast</a>
                        <a href="">Lunch</a>
                        <a href="">Dinner</a>
                    </div>
                    <div class="right">
                        <div>
                             <ul>
                                <li class="cursive med-text">Sushi</li>
                                <li class="thin-block large-text">Grill</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="thin-block large-text">Vegan</li>
                                <li class="cursive med-text">Skewers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="bot-left">
                        <a href=""><h2 class="large-text">Ramen</h2></a>
                    </div>
                    <div class="bot-right">
                        <a href=""><h2 class="large-text">Combo Lunch</h2></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>